<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Reverse Message</button>
</div>

<div id="app-3">
  <span v-if="seen">
    hoge
  </span>
</div>

<div id="app-4">
  <ol>
    <li v-for="todo in todos">
      {{ todo.foo }}
    </li>
  </ol>
</div>

<div id="app-6">
  <p>{{ message }}</p>
  <input v-model="message">
</div>

<div id="app-7">
  <ol>
    <todo-item
      v-for="item in groceryList"
      v-bind:todo="item"
      v-bind:key="item.id">
    </todo-item>
  </ol>
</div>

<div id="app-8">
  <ol>
    <todo-item
      v-for="item in groceryList1"
      v-bind:todo="item"
      v-bind:key="item.id">
    </todo-item>
  </ol>
</div>