html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

// home

.home-bg {
  background: linear-gradient(90deg, #91e4fb 66.666%, #ffffff 33.334%);
}

.navbar-brand {
  font-family: 'Caveat', cursive;
  color: black;
  margin: 0;
  text-decoration:none;
}

.home-brand-size {
  font-size: 50px !important;  
}

.home-main-size {
  height: 100%;
  overflow-y: hidden;
  section {
    height: 100%;
    .container {
      height: 100%;
    }
  }
}

// .home-header-height {
//   height: 10%;
//   min-height: 74.67px;
// }

// content

.content-bg {
  background: #91e4fb;
}

.content-bg-size {
  overflow-y: hidden;
}

.content-brand-size {
  font-size: 30px !important;  
}

.nav-link.active {
  background: #708090 !important;
}

.nav-bg-color{
  background: #4682b4;
  a {
    &:hover {
      background: #708090;
      
    }
    &.text-light{
      &:hover {
        color: #fff !important;
      }      
    }
  }
}


// .wrapper {
//   height: 100%;
//   background: linear-gradient(90deg, #91e4fb 66.666%, #ffffff 33.334%);
//   header {
//     background: linear-gradient(90deg, #91e4fb 66.666%, #ffffff 33.334%);
//     height: 90px;
//     width: 100%;
//     max-width: 1440px;
//     margin: auto;
//     .logo {
//     float: left;
//       a {
//       font-family: 'Caveat', cursive;
//       color: black;
//       font-size: 50px;
//       margin: 0;
//       text-decoration:none;
//       }
//     }
//   }
// }

// nav {
//   padding: 20px 60px;
// }

// ul {
//   list-style: none;
//   li {
//     display: inline;
//     margin: auto 20px;
//   }
// }

// .logo {
//   float: left;
//   a {
//     font-family: 'Caveat', cursive;
//     color: black;
//     font-size: 50px;
//     margin: 0;
//     text-decoration:none;
//   }
// }

// .right-header {
//   float: right;
//   font-size: 20px;
//   a {
//     color: black;
//     text-decoration: none;
//     &:hover {
//       text-decoration: underline;
//     }
//   }
// }


// .main {
//   // padding-top: 90px;
//   background: linear-gradient(90deg, #91e4fb 66.666%, #ffffff 33.334%);
//   width: 100%;
//   max-width: 1440px;
//   margin: auto;
//   overflow: hidden;
//   height: 100%;
//   position: relative;
// }

// .about-wrapper {
//   position: relative;
//   top: 50%;
//   transform: translateY(-70%);
//   width: 66.666%;
//   float:left;
//   .home-about {
//     float: right;
//     padding-right: 120px;
//     h1 {
//       font-size: 60px;
//       margin: 10px auto;
//     }
//     h2 {
//       font-weight: normal;
//       margin: 10px auto;
//     }
//   }
// }

// section {
//   line-height: 1.1;
//   margin: 50px auto;
// }

// .signup-wrapper {
//   position: relative;
//   top: 50%;
//   transform: translateY(-80%);
//   width: 33.334%;
//   float:right;
//   .signup {
//     margin: 0 60px;
//     h2 {
//       font-weight: normal;
//     }
//     .form {
//       width: 100%;
//       height: 50px;
//       margin: 15px auto;
//       box-sizing: border-box;
//     }
//     .submit {
//       width: 100%;
//       height: 50px;
//       margin: 20px auto;
//       background-color: #0061ff;
//       border: none;
//       color: white;
//       font-size: 20px;
//       &:hover {
//         background-color: #007af5;
//         cursor: pointer;
//       }
//     }
//   }
// }
// .show {
//   height: 100%;
//   aside {
//     width: 250px;
//     background-color: #91e4fb;
//     overflow: hidden;
//     height: 100%;
//     .logo {
//       margin: 0 auto;
//       a {
//         font-family: 'Caveat', cursive;
//         color: black;
//         font-size: 50px;
//         margin: 0;
//         text-decoration:none;
//       }
//     }
//   }
// }