html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

// home

.home-bg {
  background: linear-gradient(90deg, #91e4fb 66.666%, #ffffff 33.334%);
}

.navbar-brand {
  font-family: 'Caveat', cursive;
  color: black;
  margin: 0;
  text-decoration:none;
}

.home-brand-size {
  font-size: 50px !important;  
}

.home-main-size {
  height: 100%;
  overflow-y: hidden;
  section {
    height: 100%;
    .container {
      height: 100%;
    }
  }
}

#login-form {
  display: none;
}

#signup-btn {
  display: none;
}

#signup-btn {
  cursor: pointer;
}

#login-btn {
  cursor: pointer;
}

.home-row {
  min-height: 286px; 
}

// content

.content-bg {
  background: #91e4fb;
}

.content-bg-size {
  overflow-y: hidden;
}

.content-brand-size {
  font-size: 30px !important;  
}

.nav-link.active {
  background: #708090 !important;
}

.nav-bg-color{
  background: #4682b4;
  a {
    &:hover {
      background: #708090;
      
    }
    &.text-light{
      &:hover {
        color: #fff !important;
      }      
    }
  }
}