<header>
  <nav>
    <div class="logo">
      <%= link_to "Treco", root_path %>
    </div>
    <ul class="right-header">
      <li><%= link_to "ログイン", "#",  class: "login"%></li>
      <li><%= link_to "お問い合わせ", help_path,  class: "help" %></li>
    </ul>
  </nav>
</header>